<style>

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border: none;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}
.topnav1 {
  display: flex;
  justify-content: center;
}
/* Add an active class to highlight the current page */
.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  background-color: #20302E;
  text-decoration: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav {
    flex-direction: column
}
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    flex-direction: column;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
    flex-direction: column;
  }
  .btn , .dropdown {
    width: 90%
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #20302E;
  margin: 0;
}

.btn {
  background-color: #20302E;
  text-decoration: none;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

table.spreadsheet {
  border:  border: 1px solid #243844;
  border-collapse: collapse;
}

table.spreadsheet td {
  border: 1px solid #a6aac6;
  text-align: left;
  padding: 0.2em;
}

.dropdown {
  font-size: 16px;
  text-align: start;
  text-decoration: none;
  color:#20302E;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover {
  color: #5f89a3;
  
}
.dropdown:hover .dropdown-content {
  display: block;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

.topnav input[type=text] {
    border: 1px solid #ccc;
}

.btn:hover {
  opacity: 0.9;
}

p {
  font-size: 18px
}

/* Style the header */
.header {
  background-color: #66A5AD;
  padding: 30px;
  text-align: center;
  font-size: 50px;
  margin: 0, auto;
  border: 0, auto;
}
/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  margin: 0, auto;
  border: 0, auto;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 18px;
  /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
  padding: 80px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Middle column */
.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  width: 100;
  margin: 0 auto;
  padding: 20px;
  font-size: 15px;
  border-right-style: none;
  border-block-start: none;
  border-block-end: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Style the footer */
.footer {
  background-color: #AAD8D3;
  padding: 7px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #3e5e72;
}

a {
  color: #243844
}
#hamnav {
  /* Optional */
  position: sticky;
  top: 0;
}

/* Hide Hamburger */
#hamnav label, #hamburger { display: none; }

/* Horizontal Menu Items */
#hamitems { display: flex; }
#hamitems a {
  width: 20%; /* 100% / 5 tabs = 20% */
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#hamitems a:hover {
  background: #401408;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 823px) {
  .column , .column.middle , .column.side {
    display: flex;
    flex-direction: column;
  }

}
@media (max-width: 625px) {
  .btn {
    display: none;
  }
  .row{
    display: flex;
    flex-direction: column;
  }
  .column.side {
    display: flex;
    height: 20px
  }
  .header {
    font-size: 30px;
    width: max;
  }
   .body {
    display: flex;
    flex-direction: column;
}
#hamnav label { 
    display: inline-block; 
    color: #20302E;
    background: #66A5AD ;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
  }

  /* Toggle Show/Hide Menu */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}
}
}   
@media (max-width: 450px) {  
  .btn , .dropbtn{
    display: none;
  }
  .row{
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }
  .column.side {
    display: flex;
    height: 0;
   }
  .header {
    font-size: 30px;
    width: max;
  }
  .body {
    display: flex;
    flex-direction: column;
  }

}

.img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  float: left;
  height: 180px;
  width: 180px;
  flex-direction: column;
}

.container{
 margin: 20px;
 border: 1px solid black;
 padding: 20px; 
}

@media (min-width: 600px){ 
  .container{
    column-count:2
  }
}


</style>